# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Typescript
*.tsbuildinfo

# Optional IDE directories
.vscode/
.idea/

# Output directories
dist/
build/
